name: Atualizar Placar

on:
  schedule:
    - cron: '*/5 * * * *' # Roda a cada 5 minutos
  workflow_dispatch: # Permite rodar manualmente

permissions:
  contents: write # IMPORTANTE: Dá permissão para o robô salvar o arquivo

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout do código
      uses: actions/checkout@v3

    - name: Configurar Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.9'

    - name: Instalar dependências
      run: |
        pip install selenium webdriver-manager

    - name: Executar Script de Placar
      run: python JEFFERSON.py

    - name: Salvar alterações no placares.txt
      run: |
        git config --global user.name "github-actions[bot]"
        git config --global user.email "github-actions[bot]@users.noreply.github.com"
        git add placares.txt
        git commit -m "Placar atualizado" || echo "Sem mudanças para salvar"
        git push
