name: Bot de Placar AiScore

on:
  schedule:
    - cron: '0 */5 * * *' # Executa a cada 5 minutos
  workflow_dispatch:      # Permite rodar manualmente no botão 'Run workflow'

permissions:
  contents: write         # Essencial para salvar o arquivo placares.txt

jobs:
  run_bot:
    runs-on: ubuntu-latest
    steps:
      - name: Baixar Código
        uses: actions/checkout@v3

      - name: Instalar Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Instalar Dependencias
        run: |
          pip install selenium webdriver-manager

      - name: Executar Script
        run: python JEFFERSON.py

      - name: Salvar e Enviar Dados (Git Push)
        run: |
          git config --global user.name "GitHub Action Bot"
          git config --global user.email "bot@github.com"
          git add placares.txt
          # Só faz o commit se houver mudanças reais no arquivo
          git diff --quiet && git diff --staged --quiet || (git commit -m "Placar atualizado: $(date)" && git push)
