name: Scraper GE Bruto

on:
  schedule:
    - cron: '*/2 * * * *' # Roda a cada 2 minutos
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Código
        uses: actions/checkout@v3

      - name: Instalar Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Instalar Navegador Chrome
        run: |
          sudo apt-get update
          sudo apt-get install -y google-chrome-stable

      - name: Instalar Selenium
        run: pip install selenium webdriver-manager

      - name: Executar Scraper
        run: python scraper.py

      - name: Salvar Resultado
        run: |
          git config --global user.name "Bot Extração"
          git config --global user.email "bot@scrap.com"
          git add placares.txt
          git commit -m "Update Bruto: $(cat placares.txt)" || exit 0
          git push
