name: Atualizador de Placar
on:
  workflow_dispatch: # Permite rodar manual uma vez e ele segue por 100 min

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write # ESSENCIAL para permitir que o script salve o arquivo
    steps:
      - name: Checkout do código
        uses: actions/checkout@v3

      - name: Configurar Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Instalar Dependências
        run: |
          pip install selenium webdriver-manager

      - name: Rodar Script
        run: python seu_script.py # Troque pelo nome do seu arquivo
