- name: Executar Scrapers
        run: |
          python scraper.py
          python relogio.py

      - name: Git Push
        run: |
          git config --global user.name "Bot Placar"
          git config --global user.email "bot@scrap.com"
          git add placares.txt
          git commit -m "Update: $(cat placares.txt)" || exit 0
          git push
